@import url('https://fonts.googleapis.com/css?family=Oswald|Droid+Sans');
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

html {
	width: 100%;
}

body {
	@include base_font();
	font-size: 12pt;
	background-color: $white;
}

nav {
	@include container();
	@include title_font();
	font-size: 2.5em;
	font-variant: small-caps;
	background-color: darken($base, 15%);
	color: $white;
	position: fixed;
	z-index: 1000;

	a {
		color: $white;
		transition: 0.3s;
		text-decoration: none;
	}

	a:hover {
		color: $accent;
		transition: 0.3s;
	}

	.right {
		font-variant: normal;
		font-size: 0.5em;
		text-transform: uppercase;
		position: absolute;
		right: 40px;
		bottom: 20px;

		li {
			display: inline-block;
			padding: 10px;
			margin-bottom: -10px;
		}
	}
}

header {
	@include container();
	height: 600px;
	background: url('/media/taj-mahal-sukeindia.jpg') no-repeat right top fixed;
	background-size: cover;

	.content {
		margin: 0 auto;
		max-width: 500px;
		text-align: center;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}

	.highlight {
		padding: 20px;
		background-color: transparentize($black, .5);
		font-size: 1.4em;
		border-radius: $default-radius;
		color: $white;

		p {
			margin-bottom: 10px;
		}
	}
}

section {
	@include container();
	padding-bottom: 60px;
}

#about {
	text-align: center;
}

#news {
	background-color: lighten($accent, 20%);
}

#projects {
	background-color: darken($accent, 40%);
	color: $white;
}

#impact {

}

#sponsor {
	background-color: $base;
	color: $white;
}

div.three-column {
	width: 30%;
	display: inline-block;
	text-align: center;
}

div.three-column:first-child {
	border-right: 1px solid lighten($black, 30%);
}

div.three-column:last-child {
	border-left: 1px solid lighten($black, 30%);
}

.larger {
	font-size: 1.2em;
}