@import url('https://fonts.googleapis.com/css?family=Oswald|Droid+Sans');
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

html {
	width: 100%;
}

body {
	@include base_font();
	font-size: 12pt;
	background-color: $white;
}

nav {
	@include container();
	@include title_font();
	font-size: 2.5em;
	font-variant: small-caps;
	background-color: darken($base, 15%);
	color: $white;
	position: relative;

	a {
		color: $white;
		transition: 0.3s;
		text-decoration: none;
	}

	a:hover {
		color: $accent;
		transition: 0.3s;
	}

	.right {
		font-variant: normal;
		font-size: 0.5em;
		text-transform: uppercase;
		position: absolute;
		right: 40px;
		bottom: 20px;

		li {
			display: inline-block;
			padding: 10px;
			margin-bottom: -10px;
		}
	}
}

header {
	@include container();
	height: 600px;
	background: url('/media/taj-mahal-sukeindia.jpg') no-repeat right top fixed;
	background-size: cover;
}

.header-content {
	background-color: transparentize($black, .5);
	border-radius: $default-radius;
	max-width: 400px;
	color: $white;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
}

section {
	@include container();
}