@mixin container() {
	padding: 20px 40px;
	width: 100%;
	text-align: center;
	box-sizing: border-box;
}

@mixin base_font() {
	font-family: 'Droid Sans', sans-serif;
}

@mixin title_font() {
	font-family: 'Oswald', sans-serif;
}