@mixin container() {
	padding: 20px 40px;
	width: 100%;
	text-align: center;
	box-sizing: border-box;
}

@mixin base_font() {
	font-family: 'Droid Sans', sans-serif;
}

@mixin title_font() {
	font-family: 'Oswald', sans-serif;
}

@mixin navbar_a() {
	a {
		color: $white;
		transition: 0.3s;
		text-decoration: none;
	}

	a:hover {
		color: $accent;
		transition: 0.3s;
	}
}

@mixin stroke($color) {
	text-shadow:
		-2px -2px 0 $color,
		2px -2px 0 $color,
		-2px 2px 0 $color,
		2px 2px 0 $color;
}